src/main/mule/beverlyshillSolutions.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="beverlyshillSolutions-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="beverlyshillSolutions-config" raml="beverlyshillSolutions.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="beverlyshillSolutions-main">
        <http:listener config-ref="beverlyshillSolutions-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="beverlyshillSolutions-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="819713d7-148b-4ad2-b218-fd9b176e9217">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8b7131bc-e10d-407f-a1f8-fae1b17181f2" when='#[attributes.method == "POST" or attributes.method == "PUT" or attributes.method == "PATCH" or attributes.method == "GET"]' type="APIKIT:BAD_REQUEST">
				<ee:transform doc:name="Transform Message" doc:id="50c3cda8-ffbd-4016-99e8-5d6d6a33a9b1" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    message: "Unable to get record. NOT FOUND",
    (error: vars.detailedError) if(vars.detailedError?)
}]]></ee:set-payload>
						<ee:set-attributes ><![CDATA[%dw 2.0
output application/java
---
{
	"statusCode": 400
}]]></ee:set-attributes>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="0040bbc7-fb06-4a55-85a3-eb82ef70de71" when='#[attributes.method == "POST" or attributes.method == "PUT" or attributes.method == "PATCH" or attributes.method == "GET"]' type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message" doc:id="428cad85-bcff-4256-a902-95a6a8ac283b" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    message: "Unable to get record. NOT FOUND",
    (error: vars.detailedError) if(vars.detailedError?)
}]]></ee:set-payload>
						<ee:set-attributes ><![CDATA[%dw 2.0
output application/java
---
{
	"statusCode": 404
}]]></ee:set-attributes>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
        </error-handler>
    </flow>
    <flow name="beverlyshillSolutions-console">
        <http:listener config-ref="beverlyshillSolutions-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="beverlyshillSolutions-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="861c59c4-f740-4904-a2a0-0d898c233afa">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\index:beverlyshillSolutions-config">
        <ee:transform doc:name="Transform Message" doc:id="4f499128-2714-4dcb-a13c-b3803976d5ff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
    "Beverly S. Hill",
    "Professional Experience",
    "Other Experience",
    "Technical Skills",
    "Training",
    "Education"
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="193817b2-969e-4292-9a78-4dd0dea78883" name="indexFlow" />
    </flow>
    <flow name="get:\index\Education:beverlyshillSolutions-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="37157b39-b0e5-4387-b499-4037e797f2ce">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "_id": "59fe6e958d6a7d7f0e86342c",
  menu: "Education",
  items: [
    {
      heading: "<h4></h4><h2>Education</h2><h4></h4><h2>Atlanta College of Art</h2><h3><p>&#8226B.F.A, Graphic design</p></h3><h4></h4><h2>Georgia State University</h2><h3><p>&#8226Mathematics</p></h3><h4></h4><h2>Birkbeck College, University of London</h2><h3><p>&#8226Art History</p></h3>"
    }, 
    {
      quotes: "I use MongoDB on this website to store the website data. MongoDB has a flexible document data model making it possible to store data of any structure."
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="b5dbc268-688a-4697-aa7c-3a9332069007" name="indexEducationFlow" />
    </flow>
    <flow name="get:\index\(homePageName):beverlyshillSolutions-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="869e27f1-a15a-4be7-80f7-780f058f7a7b">
            <ee:variables>
                <ee:set-variable variableName="homePageName"><![CDATA[attributes.uriParams.homePageName]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="9ca92e82-849c-468a-9905-e2883b9da219" name="indexHomeFlow"/>
    </flow>
</mule>
