src/main/mule/indexEducation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="indexEducationFlow" doc:id="8deedb1a-3754-4b15-a951-474ffc209ecd" >
		<http:request method="GET" doc:name="Request" doc:id="09680eae-33ce-41b4-9932-37044c5f894a" config-ref="HTTP_Request_configuration" path="/Education" outputMimeType='application/json' outputEncoding="US-ASCII"/>
		<ee:transform doc:name="Transform Message" doc:id="09352978-6ae3-4236-afd9-d224fd64d7b5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "menu": payload.menu,
    "items": [
        {
            "heading": payload.items.heading
        },
        {
            "quotes": payload.items.quotes
        }
    ]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="584215f7-0e09-40da-9e30-c323edec8ede" >
				<set-variable value="#[error.errorMessage.payload.data.message]" doc:name="Set detailedError" doc:id="ae86d4f4-6b8e-4cc5-9577-347ba001fb75" variableName="detailedError" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
